In [1]:
import numpy as np
from PIL import Image
import skimage.measure
import pandas as pd

In [2]:
df_pop = pd.read_csv('pop_dens_cells.txt', sep=' ', header=None)

In [3]:
df_pop

,0,1,2,3,4,5,6,7,8,9,...,10791,10792,10793,10794,10795,10796,10797,10798,10799,10800
0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,NaN
1,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,NaN
2,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,NaN
3,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,NaN
4,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10795,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,NaN
10796,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,NaN
10797,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,NaN
10798,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,NaN
10799,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,NaN

In [4]:
df = df_pop.iloc[int(((90-29.0)/90)*10800):int(((90-28.2)/90)*10800), int((76.85/90)*10800):int((77.65/90)*10800)]

In [5]:
df

,9222,9223,9224,9225,9226,9227,9228,9229,9230,9231,...,9308,9309,9310,9311,9312,9313,9314,9315,9316,9317
7320,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,...,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660
7321,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,...,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660
7322,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,...,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660
7323,1162.9560,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,...,2434.5660,2434.5660,2434.5670,2434.5660,2434.5660,2434.5670,2434.5660,2434.5670,2434.5660,2434.5660
7324,731.9353,896.2756,861.6749,943.1865,1163.9330,1209.7430,1209.7430,1209.7430,1209.7430,1209.7430,...,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660,2434.5660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7411,1234.6310,1258.7340,908.8532,904.8311,904.8311,904.8311,904.8311,904.8311,904.8311,904.8311,...,913.7902,898.0692,840.8624,808.7623,808.7623,808.7623,808.7623,808.7625,808.7623,808.7623
7412,721.3138,834.1066,904.8311,904.8311,904.8310,904.8311,904.8311,904.8312,904.8311,904.8311,...,981.1703,903.6942,822.4302,808.7623,808.7623,808.7623,808.7624,808.7624,808.7624,808.7623
7413,721.3164,797.2286,895.3704,904.8311,904.8312,904.8311,904.8312,904.8312,904.8311,904.8311,...,817.8903,808.7624,808.7625,808.7623,808.7624,808.7624,808.7625,808.7624,808.7625,808.7623
7414,731.4103,732.6498,733.6028,780.9434,874.0989,904.8311,904.8311,904.8311,904.8311,904.8310,...,808.7623,808.7623,808.7623,808.7623,808.7623,808.7623,808.7623,808.7623,808.7623,808.7623
7415,732.6498,732.6498,732.6498,732.6498,737.3774,844.4569,904.8311,904.8311,904.8311,904.8311,...,808.7623,808.7623,808.7623,808.7623,808.7623,808.7623,808.7623,808.7623,808.7623,808.7623

In [6]:
pop_matrix = df.to_numpy()

In [7]:
pop_matrix.shape

(96, 96)

In [8]:
mat = np.repeat(pop_matrix, 5, axis=0)
mat = np.repeat(mat, 5, axis=1)

In [9]:
pop_mat = skimage.measure.block_reduce(mat, (6,6), np.mean)

In [10]:
pop_mat.shape

(80, 80)

In [11]:
np.save('population_density_80x80.npy', pop_mat)